<div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <img src="your-logo.png" alt="Logo">
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="title">
              Dashboard
            </div>
          </div>
          <div class="col-md-4 text-right">
            <div class="user-profile">
              <img src="user-avatar.png" alt="User Avatar">
              <span>{{ userName }}</span>
            </div>
          </div>
        </div>
      </div>
      