/* login.component.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    color: #176a4c;
}

.login-text {
    font-size: 24px;
    font-weight: bold;
}

.username-label,
.email-label,
.password-label,
.confirm-password-label {
    margin-top: 10px;
    font-size: 16px;
    color: #072a4f; /* Text color */
}

/* Style the input fields */
.username-input,
.email-input,
.password-input,
.confirm-password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #072a4f; /* Border color */
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    background-color: #D7FEF1; /* Background color for input fields */
}

.login-btn,
.register-btn {
    background-color: #279574;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #176a4c; /* Change button color on hover (optional) */
}

.register-text {
    font-size: 16px;
    margin-top: 10px;
    color: #072a4f; /* Text color for the "Already have an account?" text */
}

.register-text a {
    color: #279574; /* Text color for the "Login" link */
    text-decoration: none; /* Remove underlines from the link */
    font-weight: bold; /* Make the link bold (optional) */
    transition: color 0.2s; /* Add a smooth color transition on hover (optional) */
}

.register-text a:hover {
    color: #176a4c; /* Change the link color on hover (optional) */
}
