/* Base container and card styles */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.card {
    width: 300px; /* Reduced width */
    background-color: #fff;
    padding: 15px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Common styles for headings, labels, and links */
.login-text, .register-text {
    font-size: 14px; /* Adjusted font size */
    font-weight: bold;
    color: black;
    margin-bottom: 15px; /* Adjusted margin */
}
.email-label, .password-label, .username-label, .confirm-password-label {
    margin-top: 8px; /* Adjusted margin */
    font-size: 14px; /* Adjusted font size */
    color: #072a4f;
}
.login-text a, .register-text a {
    color: #279574;
    text-decoration: none;
    font-weight: bold;
}
.login-text a:hover, .register-text a:hover {
    color: #176a4c;
}

/* Input and button styles */
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 8px; /* Adjusted padding */
    border: 1px solid #072a4f;
    border-radius: 5px;
    font-size: 14px; /* Adjusted font size */
    margin-top: 5px;
    background-color: #D7FEF1;
}
.login-btn, .register-btn {
    background-color: #279574;
    color: white;
    padding: 8px 16px; /* Adjusted padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjusted font size */
    margin-top: 15px; /* Adjusted margin */
}
.login-btn:hover, .register-btn:hover {
    background-color: #176a4c;
}

/* Image container and image styles */
.img-container {
    text-align: center;
    margin-bottom: 15px; /* Adjusted margin */
}
.img {
    max-width: 100%;
    height: auto;
}
