<app-sidebar></app-sidebar>
<div class="add-car-container">
  <!-- Car List Container -->
  <div class="car-list-container">
      <h2>List of Cars</h2>
      <input type="search"[(ngModel)]="searchtext" id="search"class="form-search"placeholder="Search">


      <ul>
          <li *ngFor="let car of cars | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage|filter:searchtext">
              <div class="car-details">
                  <div class="car-image">
                      <img [src]="car.carImage" alt="Car Image">
                  </div>
                  <div class="car-info">
                      <span class="car-immatriculation">{{ car.immatriculation }}</span>
                      <span class="car-year">{{ car.annee }}</span>
                  </div>
              </div>
              <div class="button-group">
                  <button class="edit-button" (click)="editCar(car)">Edit</button>
                  <button class="delete-button" (click)="deleteCar(car)">Delete</button>
              </div>
          </li>
      </ul>

      <div class="pagination">
          <button *ngFor="let page of getPaginationArray()" (click)="onPageChange(page)" [class.active]="currentPage === page">
              {{ page }}
          </button>
      </div>
  </div>

  <!-- Add Car Form -->
  <div class="form-container">
      <form (submit)="addCar(newCar)">
          <h2>Add a Car</h2>
          <div class="form-group">
              <label for="immatriculation">Immatriculation:</label>
              <input type="text" id="immatriculation" name="immatriculation" [(ngModel)]="newCar.immatriculation" required>
          </div>
          <div class="form-group">
              <label for="annee">Year:</label>
              <input type="number" id="annee" name="annee" [(ngModel)]="newCar.annee" required>
          </div>
          <div class="form-group">
              <label for="carImage">Image:</label>
              <input type="file" id="carImage" name="carImage" accept="image/*" (change)="handleFileInput($event)">
          </div>
          <button type="submit">Submit</button>
      </form>
  </div>
</div>
