.add-car-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  
    .car-list-container {
      width: 60%;
      margin-right: 20px;
      padding-left: 70px;
  
      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;
      }
  
      h2 {
        color: #4CAF50;
        margin-bottom: 20px;
      }
  
      ul.car-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
      }
  
      .car-card {
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
        height: 100%;
  
        &:hover {
          transform: scale(1.05);
        }
  
        .car-image {
          width: 100%;
          height: auto;
          border-radius: 5px 5px 0 0;
          overflow: hidden;
          display: block;
  
          img {
            width: 100%;
            height: auto;
          }
        }
  
        .car-details {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          border-radius: 0 0 5px 5px;
          background-color: #fff;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          opacity: 0;
          transition: opacity 0.3s ease;
  
          .car-info {
            text-align: left;
            padding: 10px;
        
            .car-brand {
              font-size: 1.2em;
              color: #333;
              font-weight: bold;
              text-transform: uppercase;
            }
        
            .car-model,
            .car-registrationNumber,
            .car-fuelType {
              font-size: 1em;
              color: #666;
              margin-top: 5px;
            }
          }
        
          .button-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        
            button {
              padding: 12px 24px;
              border-radius: 5px;
              cursor: pointer;
              border: none;
              transition: background-color 0.3s, color 0.3s;
              font-size: 1em;
              font-weight: bold;
              text-transform: uppercase;
              margin: 0 15px;
            }
        
            .edit-button {
              background-color: #2196F3;
              color: white;
            }
        
            .delete-button {
              background-color: #F44336;
              color: white;
            }
        
            button:hover {
              opacity: 0.9;
            }
          }
        }
  
        &:hover .car-image {
          opacity: 0;
        }
  
        &:hover .car-details {
          opacity: 1;
        }
      }
  
      .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
  
        button {
          background-color: #4CAF50;
          color: white;
          padding: 8px 16px;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          margin: 0 5px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #45a049;
          }
  
          &.active {
            background-color: #45a049;
          }
        }
      }
    }
  
    .form-container {
      width: 40%;
      box-sizing: border-box;
      border: 2px solid #4CAF50;
      border-radius: 10px;
      padding: 30px;
      margin-top: 20px;
  
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 0;
      }
  
      h2 {
        text-align: center;
        color: #4CAF50;
        margin-bottom: 20px;
      }
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
          color: #4CAF50;
        }
  
        input[type="text"],
        input[type="number"],
        input[type="file"] {
          width: 100%;
          padding: 12px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
  
      button {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        width: 100%;
      }
    }
  }
  