/* Container for the card */
        .card-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffff; /* Background color for the entire page */
        }

        /* Card styles */
        .card {
            width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        /* Your existing styles for the login form */
        .login-text {
            font-size: 24px;
            font-weight: bold;
            color: #279574;
        }

        .email-label,
        .password-label {
            margin-top: 10px;
            font-size: 16px;
            color: #072a4f;
        }

        .email-input,
        .password-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #072a4f;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
            background-color: #D7FEF1;
        }

        .register-text {
            font-size: 16px;
            margin-top: 10px;
            color: #072a4f;
        }

        .register-text a {
            color: #279574;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.2s;
        }

        .register-text a:hover {
            color: #176a4c;
        }

        .login-btn {
            background-color: #279574;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            margin-top: 20px;
        }

        /* Additional styles for the image */
        .img-container {
            text-align: center;
        }

        .img {
            max-width: 100%;
            height: auto;
        }