<div class="card-container">
    <div class="card">
        <div class="img-container">
            <img loading="lazy" srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/74bcbd76bc922fa06582d35cf62498300e31788431a4dabadcdeabd5c3586ec8?apiKey=68351ece0ff9473aba513224bb2a49a4&width=400" class="img" />
        </div>
        <div class="login-text">Log In</div>
        <div class="email-label">Email Address</div>
        <input type="email" class="email-input" placeholder="Enter your email">
        <div class="password-label">Password</div>
        <input type="password" class="password-input" placeholder="Enter your password">
        <div class="login-btn">Login</div>
        <div class="register-text">Don’t have an account? <a href="#">Register</a></div>
    </div>
</div>