/* Sidebar Styles */
.sidebar {
  background-color: #4CAF50;
  color: #FFF;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s;
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  .header {
    background-color: #4CAF50;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }

  mat-nav-list {
    flex-grow: 1;

    mat-list-item {
      cursor: pointer;
      padding: 16px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s;
      padding-top: 50px;
      padding-bottom: 50px;

      mat-icon {
        margin-right: 16px;
        color: #FFFF;
      }

      &:hover {
        background-color: #FFFF;
        mat-icon {
          color: #4CAF50;
        }
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    mat-list-item:last-child {
      order: 1;
      margin-top: auto;
      margin-bottom: 10px;

      mat-icon {
        margin-right: 16px;
      }
    }
  }

  @media (max-width: 600px) {
  }

  @media (max-width: 960px) {
  }
}
