<aside class="sidebar">
    <mat-nav-list>
      <mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/add-car" routerLinkActive="active-link">
        <mat-icon>directions_car</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/add-consumption" routerLinkActive="active-link">
        <mat-icon>local_gas_station</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/settings" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/" routerLinkActive="active-link">
        <mat-icon>exit_to_app</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </aside>
  