<app-sidebar></app-sidebar>
<div class="card">
  <div class="card-header">
    Today's Gas Price :
  </div>
  <div class="card-body">
    <p>Gasoline Price: {{ gasolinePrice }} {{ currency }}</p>
    <p>Diesel Price: {{ dieselPrice }} {{ currency }}</p>
  </div>
</div>
<div class="container">
  <div class="chart2-container">
    <h2 class="chart-title">Chart 2 Title</h2>
    <app-chart2></app-chart2>
  </div>
  <div class="chart1-container">
    <h2 class="chart-title">Chart 1 Title</h2>
    <app-chart1></app-chart1>
  </div>
  <div class="chart3-container">
    <h2 class="chart-title">Chart 3 Title</h2>
    <app-chart3></app-chart3>
  </div>
</div>