/* Container for the sidebar and charts */
.container {
  display: flex;
  flex-direction: column; /* Ensure charts are stacked vertically */
  position: relative;
}

/* Chart 1 Container Styles */
.chart1-container {
  flex: 1; /* Take 100% height of the remaining space */
  width: 40%; /* Take 100% of the page width */
  position: relative;
  padding: 20px;
}

/* Chart 2 Container Styles */
.chart2-container {
  flex: 0.5; /* Take 50% height of the remaining space */
  width: 100%; /* Take 100% of the page width */
  position: relative;
  padding: 20px;
  height: 50%; /* Adjust the height to be 50% of the container height */
}

