<app-sidebar></app-sidebar>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Today's Gas Price
        </div>
        <div class="card-body">
          <p class="card-text">Gasoline Price: {{ gasolinePrice }} {{ currency }}</p>
          <p class="card-text">Diesel Price: {{ dieselPrice }} {{ currency }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Fuel Cost Calculator
        </div>
        <div class="card-body">
          <form [formGroup]="fuelCostForm" (ngSubmit)="calculateFuelCost()">
            <div class="form-group">
              <label for="fuelType">Fuel Type</label>
              <select id="fuelType" formControlName="fuelType" class="form-control" required>
                <option value="gasoline">Gasoline</option>
                <option value="diesel">Diesel</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fuelEfficiency">Fuel Efficiency (km per liter)</label>
              <input type="number" id="fuelEfficiency" formControlName="fuelEfficiency" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="tripDistance">Trip Distance (kilometers)</label>
              <input type="number" id="tripDistance" formControlName="tripDistance" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50;">Calculate Fuel Cost</button>
          </form>
          <div class="result mt-3">
            <label for="result" class="result-label">{{ fuelCostResult }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Cars By Fuel Type
        </div>
        <div class="card-body">
          <app-chart1></app-chart1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          Cars per Brand and Fuel type
        </div>
        <div class="card-body">
          <app-chart3></app-chart3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card weather-card">
      <div class="card-header">
        Today's Weather
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="{{ todayWeather?.icon }}" alt="Weather Icon" class="weather-icon">
          </div>
          <div class="col-md-8">
            <p class="description">{{ todayWeather?.description }}</p>
            <p class="degree">{{ todayWeather?.degree }}°C</p>
            <p class="min-max">Min: {{ todayWeather?.min }}°C / Max: {{ todayWeather?.max }}°C</p>
            <p class="night">Night: {{ todayWeather?.night }}°C</p>
            <p class="humidity">Humidity: {{ todayWeather?.humidity }}%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
