.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #007BFF;
  color: white;
  text-align: center;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 18px;
}

.chart-container {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chart-title {
  background-color: #007BFF;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
